:root {
  --white: #ffffff;
  --black: #181818;
  --red: #ff0048;

  --divider-light: rgba(60, 60, 60, 0.29);
  --divider-dark: rgba(84, 84, 84, 0.65);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--white);
  background: var(--black);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Barlow", sans-serif;
  margin: 20px 20px 0 20px;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}
